<style>.bold{font-weight: bold} ul{list-style-type:none; font-size: 20px; margin-left:0;} h2{ text-align: center;} .profile img{max-width: 200px;} .header{ margin-bottom: 50px; border-bottom: 1px solid #343434;} .footer{ margin-top: 40px;} .box{border: 1px solid black; padding:0 25px 25px;}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<body>
<div class="col-xs-12 box">
	<div class="col-xs-12 header">
		<img src="C:\Sites\asmeiitroorkee\app\assets\images\logo.jpg" width="160" class="col-xs-3">
		<div class="col-xs-9"><h3>ROBOTIC MENTORSHIP PROGRAMME, 2015-16</h3><h3> ASME IITR</h3></div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-7">
			<ul>
				<li><span class="bold">Name:</span> <%= current_user.name %></li>
				<li><span class="bold">Enrollment No.:</span> <%= current_mentee.enrollment_no %></li>
				<li><span class="bold">Branch:</span> <%= current_mentee.branch %></li>
				<li><span class="bold">Email:</span> <%= current_user.email %></li>
				<li><span class="bold">Contact No.:</span> <%= current_mentee.contact_no %></li>
				<li><span class="bold">Ref No.:</span> <%= current_mentee.receipt_no %></li><br />
			</ul>
		</div>
		<div class="col-xs-5 profile">
			<img src="C:\Sites\asmeiitroorkee\app\assets\images\uploads\<%= current_mentee.image %>">
		</div>
	</div>
	<div class="col-xs-12 footer">
		<span>Valid till: June 30, 2016</span><span style="float:right;">Mentee Sign................</span>
	</div>
</div>
</body>